@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}
<div class="text-center">
    <br />
    <br />
    <img src="~/images/steph.jpg" class="portrait">
    <br />
    <br />
    <h2>Stephanie</h2>
    <br />
    <p class="infoWidth text-left">
        Stephanie is a certified massage therapist located in the beautiful County of Sonoma, and excels in several massage techniques.
        She graduated from the National Holistic Institute of Massage Therapy in 2018. After graduating she became a mobile therapist, worked in salons,
        and now is the proud owner of Balanced Revival.
    </p>
</div>
