@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}
<div class="text-center">
    <br />
    <img class="logo" src="~/images/steph.jpg">
    <h2>Stephanie</h2>
    <p>Hello, my name is Stephanie and my brother is the best. He is sooo smart. I said it!</p>
</div>
