@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}
<div class="text-center">
    <br />
    <img class="logo" src="~/images/steph.jpg">
    <h2>Stephanie</h2>
    <p class="infoWidth text-left">
        Stephanie is a certified massage therapist located in the beautiful County of Sonoma, and excels in several massage techniques.
        She graduated from the National Holistic Institute of Massage Therapy in 2018. After graduating she became a mobile therapist, worked in salons,
        and now is the proud owner of Balanced Revival.
        Each client's specific needs are address, meaning each session is customized to the client's current goals.
    </p>
</div>
