@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="logo" src="~/images/icon.png">
    <br />
    <p class="infoWidth text-left">
        At Balanced Revival each client's specific needs are addressed, meaning each session is customized
        to the client's current goals. Massage therapy has many benefits, it can reduce stress, pain, tension, increase
        relaxation, ease muscle soreness. Massage therapy also improves circulation,
        energy levels, alertness, heartrate, and blood pressure.
    </p>
    <br />
    <div><a class="example_c" href="https://www.vagaro.com/balancedrevival" target="_blank" rel="nofollow noopener noreferrer" draggable="false"> <b>Schedule an appointment</b></a></div>
    <br />
    <br />
    <br />
</div>
