@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <img class="logo" src="~/images/icon.png" >
    <br />
    <p class="infoWidth text-left">
        Stephanie is a certified massage therapist located in the beautiful County of Sonoma, and excels in several massage techniques.
        Each client's specific needs are address, meaning each session is customized to the client's current goals.
        Check out the links below to schedule an appointment or emails Stephanie at StephanieLMT@balancedrevival.com.
    </p>

    <p>Book an appointment <a href="https://www.vagaro.com/balancedrevival"> here</a>.</p>
    <p>Yelp <a href="https://www.yelp.com/biz/balanced-revival-santa-rosa"> reviews</a>.</p>
</div>
