@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <ul class="services">
        <li class="collapsible">Relaxation massage</li>
        <p class="content">
            A relaxation massage treatment will usually involve flowing strokes and kneading, performed at your chosen pressure.
            It's a pain free therapy and an effective way to de-stress and relax the mind and body.
        </p>

        <li class="collapsible">Therapeutic massage</li>
        <p class="content">Therapeutic massage incorporates deep tissue and swedish massage to helps relieve pain, reduce stress, and is usually focused on a specific problem—such as a frozen shoulder. </p>

        <li class="collapsible">Cupping therapy</li>
        <p class="content">
            Cupping increases blood circulation to the area where the cups are placed. This may relieve muscle tension, which can improve overall blood flow and promote cell repair.
            It may also help form new connective tissues and create new blood vessels in the tissue.
        </p>

        <li class="collapsible">Myofascial release</li>
        <p class="content">
            Myofascial release therapy is a therapeutic approach that can be used to treat myofascial pain. It’s a hands-on technique that works to relax,
            lengthen and realign your fascia. The goal is to bring you pain relief, as well as give you back your full range of motion.

        </p>

        <li class="collapsible">Lymphatic drainage</li>
        <p class="content">
            Lymph drainage massage has become a popular form of massage due to its potential health benefits. This specialized approach focuses on the
            lymphatic system, which is part of the immune system. This type of massage aims to help the body maintain proper blood circulation, body fluid balance, and immune functions.
        </p>

        <li class="collapsible">Shiatsu massage</li>
        <p class="content">
            The theory behind shiatsu is that our bodies are made up of energy, called qi, and that energy gets blocked and causes suffering. Shiatsu massage helps remove the blockages by
            realigning meridian points, which balances the qi and eases the body and mind. When one balances qi, or vital energy, healing occurs in the body. The nervous and immune systems
            are both stimulated by applying pressure to the meridians, providing relief for both body and mind. Shiatsu also restores the circulatory system, improving blood flow throughout the body.
        </p>

        <li class="collapsible">Reflexology</li>
        <p class="content">
            Reflexology, also known as zone therapy, is an alternative medical practice involving the application of pressure to specific points on the feet and hands. This is done using thumb,
            finger, and hand massage techniques without the use of oil or lotion.
        </p>

        <li class="collapsible">Aromatherapy</li>
        <p class="content">
            Aromatherapy is the practice of using essential oils for therapeutic benefit. Aromatherapy has been used for centuries. When inhaled, the scent molecules in essential oils travel
            from the olfactory nerves directly to the brain and especially impact the amygdala, the emotional center of the brain.
        </p>

        <li class="collapsible">Hot stones massage</li>
        <p class="content">

            Hot stone massage therapy helps melt away tension, ease muscle stiffness, and increase circulation and metabolism. Hot stones, when coupled with massage, also help to expand blood
            vessels, which encourages blood flow throughout the body.
        </p>

    </ul>
</div>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>