@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <ul class="services">
        <li>Therapeutic massage</li>
            <div class=""></div>
        <li>Relaxation massage</li>
        <li>Swedish massage</li>
        <li>Deep tissue massage</li>
        <li>Myofascial release</li>
        <li>Lymphatic drainage</li>
        <li>Reflexology</li>
        <li>Aromatheropy</li>
        <li>Hotstones</li>
        <li>Cupping therapy</li>
        <li>Foot scrub</li>
    </ul>
</div>
